<nav>
  <mat-toolbar color="primary" class="full-width-toolbar">
    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/about">About</button>
    <button mat-button routerLink="/contact">Contact</button>
    <button mat-button routerLink="/login">Login</button>
    <button mat-button routerLink="/notice">Notice</button>
    <button mat-button routerLink="/complaints">Complaints</button>
    <button mat-button routerLink="/dashboard">Dashboard</button>
  </mat-toolbar>
</nav>
