# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#backend files
/Cyber_Track/__pycache__
/Cyber_Track/complaints/__pycache__
/Cyber_Track/complaints/migrations
/Cyber_Track/notices/__pycache__
/Cyber_Track/notices/migrations
/Cyber_Track/account/__pycache__
/Cyber_Track/account/migrations
/.cyber