<div class="carousel-container">
    <c-carousel [interval]="5000">
      <c-carousel-indicators></c-carousel-indicators>
      <c-carousel-inner>
        <c-carousel-item *ngFor="let slide of slides">
          <img
            alt="{{slide.title}}"
            class="d-block w-100"
            loading="lazy"
            src="{{slide.src}}"
          />
          <c-carousel-caption class="d-none d-md-block">
            <h3>{{slide.title}}</h3>
            <p>{{slide.subtitle}}</p>
          </c-carousel-caption>
        </c-carousel-item>
      </c-carousel-inner>
      <c-carousel-control [routerLink] caption="Previous" direction="prev"></c-carousel-control>
      <c-carousel-control [routerLink] caption="Next" direction="next"></c-carousel-control>
    </c-carousel>
  

  </div>
  <div class="image-container">
    <div class="image-item">
      <img src="assets/image1.jpg" alt="Image 1">
      <h3>Nabindra Aryal</h3>
      <p>DGIP</p>
    </div>
    <div class="image-item">
      <img src="assets/image2.jpg" alt="Image 2">
      <h3>S.P Deepak Raj Awasthi</h3>
      <p>Spokesperson / Information Officer</p>
    </div>
  </div>
  
  <div class="link-container">
    <a class="link-rect" [routerLink]="'/complaints'">Report a Cyber Crime</a>
    <a class="link-rect" [routerLink]="'/link2'">Cyber Security Tips</a>
    <a class="link-rect" [routerLink]="'/contact'">Emergency Contacts</a>
    <a class="link-rect" [routerLink]="'/link4'">Press Release</a>
  </div>
<div class="test">
<div class="three-column-container">
    <div class="column">
        <h3>Police Services</h3>
        <ul>
            <li><a [routerLink]="'/link1-1'">Link 1-1</a></li>
            <li><a [routerLink]="'/link1-2'">Link 1-2</a></li>
            <li><a [routerLink]="'/link1-3'">Link 1-3</a></li>
        </ul>
    </div>
    <div class="column">
        <h3>Public Facilities</h3>
        <ul>
            <li><a [routerLink]="'/link2-1'">Link 2-1</a></li>
            <li><a [routerLink]="'/link2-2'">Link 2-2</a></li>
            <li><a [routerLink]="'/link2-3'">Link 2-3</a></li>
        </ul>
    </div>
    <div class="column">
        <h3>Police Clearance Report</h3>
        <ul>
            <li><a [routerLink]="'/link3-1'">Link 3-1</a></li>
            <li><a [routerLink]="'/link3-2'">Link 3-2</a></li>
            <li><a [routerLink]="'/link3-3'">Link 3-3</a></li>
        </ul>
    </div>
</div>

<div class="contact_information">
    <h2>Contact Information</h2>
    <br>
    <p>Address: Nepal Police Headquarters, Naxal, Kathmandu</p>
    <p>Phone: 01-4412432</p>
</div>
</div>