.carousel-container {
    position: relative;
    width: calc(100% - 400px);
    margin-right: 400px;
    height: 500px;
}

.carousel-container img {
    width: 100%;
    height: 500px;
    object-fit: cover;
}
  
.image-container {
    position: absolute;
    top: 100px;
    right: 0;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    height: 100%;
}
  
  .image-item {
    text-align: center;
    padding: 5px;
  }
  
  .image-item img {
    width: 100%;
    height: 200px;
  }
  
  .image-item p {
    margin: 0;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
.link-rect {
    display: inline-block;
    padding: 10px 20px;
    margin: 30px;
    text-decoration: none;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    color: #333;
    transition: background-color 0.3s ease, color 0.3s ease;
}


a:hover {
    background-color: #e0e0e0;
    color: #000;
}
.test{
    width: 100%;
}
.three-column-container {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
    margin-right: 400px;
    background-color: #d6d6d6;
}

.column {
    flex: 1;
    margin: 0 10px;
}

.column h3 {
    text-align: center;
}

.column ul {
    list-style-type: none;
    padding: 0;
}

.column li {
    margin: 10px 0;
}
.contact_information{
    flex: 1;
    margin-right: 0px;
    width: 400px;
    padding: 30px;
    background-color: #2f25b5;
}