* {
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
  }
  body{
    width: auto;
    height: auto;
  }
  :root {
    --primary: #004163;
    --secondary: #3b5998;
    --text: #525252;
    --text-highlights: #3498db;
    --background: rgb(255, 255, 255);
    --border-color:#c7c7c7;
      /* --font-size-l: 24vw;
      --font-size-m: 16px;
      --font-size-s: 12px;
      --font-size-xl: 27px;
      --font-size-xs: 8px;
      --font-size-xxl: 35px;
      --font-size-xxxl: 36px;
      --font-size-xxxxl: 42px; */
  --font-size-l: 1.25vw;
  --font-size-m: 0.83vw;
  --font-size-s: 0.63vw;
  --font-size-xl: 1.41vw;
  --font-size-xs: 0.42vw;
  --font-size-xxl: 1.83vw;
  --font-size-xxxl: 1.88vw;
  --font-size-xxxxl: 2.19vw;
  
  }
  body {
    background-color: var(--background)
  }
  .container2 .frame1 {
    display: flex;
  }
  #Cyber {
      font-size: var(--font-size-xxxxl);
      margin: auto;
      color: var(--secondary);
  
  }
  .container2 input{
      padding: 13px 13px 13px 13px;
      
      background-color: transparent;
      color: grey;
  
  }
  .container2 .frame2 .btn {
    background-color: var(--text-highlights);
    color: var(--background);
    width: 20%;
    height: 35%;
    font-size: var(--font-size-l);
  }
  .container2 {
    width: 80vw;
    height: 20vh;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  /* .container2 .frame1{
      display:flex;
      justify-content: space-between;
  } */
  .container2 .frame2 div {
    width: 40vw;
    height: 100%;
  }
  .container2 input {
    margin: auto;
    height: 40%;
    width: 75%;
  }
  
  .container2 .frame2 input {
    margin-top: 6%;
  }
  nav {
    background-color: var(--secondary);
    width: 100vw;
    height:10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:var(--background);
  }
  nav span{
    cursor: pointer;
  }
  nav a {
    color: white; 
    text-decoration: none; 
    font-size: var(--font-size-m); 
    padding: 10px 20px; 
  }
  nav a:hover {
    background-color: #555; 
    border-radius: 5px; 
  }
  .main1 .frame1 {
    display: flex;
    justify-content: center;
    gap: 5%;
  }
  
  .photo {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    height: 70vh;
  }
  
  .image-container {
    width: 100%; 
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .slideshow-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover;
    object-position: center; 
  }
  
  .sus {
    margin-top: 10px;
    background-color: var(--secondary, #007bff);
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #00000040;
  }
  
  .sus-btn {
    color: rgb(255, 203, 5);
    font-weight: bold;
    cursor: pointer;
  }
  
  .controls {
    display: flex;
    justify-content: space-between;
    position: relative;
    top:-50%;
    margin-top: 10px;
    width: 100%;
  }
  
  .btn_change {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: grey;
    color: white;
    font-size: 0.5vw;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #0056b3;
    cursor: pointer;
  }
  
  #Name1 {
    width: 100%;
    height: 40%;
    background-color: aqua;
    position: relative;
    z-index: 2;
  }
  #Name2 {
    width: 100%;
    height: 40%;
    background-color: aqua;
    position: relative;
    z-index: 8;
  }
  
  #photo2 {
    width: "70%";
    height: auto;
    margin: auto;
    position: absolute;
    z-index: 9;
  }
  #photo3 {
    width: "70%";
    height: auto;
    margin: auto;
    position: absolute;
    z-index: 6;
  }
  
  .container3 {
    margin: 5% auto;
    width: 90%;
    text-align: center;
  }
  
  .container3 h1 {
    margin-bottom: 3vh;
    font-size: var(--font-size-xxxl);
    color: var(--text-highlights);
    text-align: center;
  }
  
  .highlights {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2vw;
  }
  
  .container3 .boxes {
    background-color: var(--background);
    border: 0.2vw solid var(--border-color);
    border-radius: 1vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.25);
    overflow: hidden;
    flex: 1 1 calc(30% - 2%);
    min-width: 25%;
    max-width: 30%;
    height: auto;
    padding: 2%;
    position: relative;
  }
  
  .highlights .press {
    background-color: var(--text-highlights);
    border-radius: 1vh;
    color: var(--background);
    font-family: var(--font-family-open_sans);
    font-size: var(--font-size-m);
    font-weight: 600;
    text-align: center;
    padding: 1vh 2vw;
    margin: 2vh auto;
    width: 80%;
  }
  
  .highlights .heading-highlights {
    margin: 2vh 5%;
    color: var(--text-highlights);
    font-size: var(--font-size-l);
    font-weight: 600;
    line-height: 1.5;
    text-align: left;
  }
  
  .line {
    background-color: var(--primary);
    height: 0.5vh;
    width: 90%;
    margin: 2vh auto;
  }
  
  .highlights .uploaded_date {
    margin: 1vh 5%;
    color: var(--text);
    font-size: var(--font-size-m);
    font-weight: 400;
    text-align: left;
  }
  
  .h-photo {
    margin: auto;
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
  
  .View {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3vh auto 0;
    padding: 1vh 2vw;
    background-color: transparent;
    border: 0.3vw solid var(--button);
    border-radius: 2vh;
    color: var(--text-highlights);
    font-size: var(--font-size-l);
    font-weight: 600;
    cursor: pointer;
  }
  
  .container4,
  .container5 {
    margin: 5% auto;
    width: 90%;
    text-align: center;
  }
  
  .container4 h1,
  .container5 h1 {
    font-size: 3vw;
    color: var(--text-highlights);
    margin-bottom: 3%;
  }
  
  .alerts,
  .social-media {
    display: flex;
    justify-content: space-between;
    gap: 2%;
    flex-wrap: wrap;
  }
  
  .box {
    background-color: var(--background);
    border: 0.2vw solid var(--border-color);
    border-radius: 1vw;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.25);
    overflow: hidden;
    flex: 1 1 calc(30% - 2%);
    min-width: 25%;
    max-width: 30%;
    height: auto;
    padding: 2%;
    position: relative;
  }
  
  .press {
    background-color: var(--text-highlights);
    border-radius: 0.5vw;
    color: var(--background);
    font-size: 1vw;
    font-weight: bold;
    padding: 0.5vw 1vw;
    margin-bottom: 1vw;
    text-align: center;
  }
  
  .heading-alerts,
  .social-heading {
    font-size: 1.5vw;
    font-weight: bold;
    margin-bottom: 1vw;
    color: var(--text-highlights);
  }
  
  .line {
    background-color: var(--primary);
    height: 0.2vw;
    width: 100%;
    margin: 1vw 0;
  }
  
  .uploaded-date,
  .content {
    font-size: 1vw;
    color: var(--text);
    margin-bottom: 1vw;
  }
  
  .news-image,
  .social-img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 0.5vw;
  }
  
  .btn {
    margin-top: 2%;
    padding: 1% 2%;
    background-color: transparent;
    border: 0.25vw solid var(--text-highlights);
    border-radius: 1vw;
    color: rgb(14, 170, 232);
    font-size: 1.5vw;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: var(--text-highlights);
    color: var(--background);
  }
  footer {
    background-color: var(--primary);
    height: 70vh;
    left: 0;
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  footer .frame1 {
    height: 45vh;
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 5%;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .lists {
    width: 25%;
    height: 80%;
    position: relative;
  }
  
  .crime {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  footer .register {
    position: relative;
    top: 67%;
    left: 15%;
    width: 70%;
    height: 15%;
    background-color: rgb(0 215 249);
    color: var(--background);
    border: 0.3vh solid rgb(77 227 251);
    border-radius: 1vh;
  }
  
  footer .frame2 {
    height: 40%;
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 16%;
    align-items: center;
    color: grey;
  }
  
  footer .frame2 .map img {
    width: 70%;
  }
  
  footer .contact {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  footer .contact h1 {
    color: var(--background);
    margin-bottom: 2vh;
  }
  
  footer .contact img {
    width: 2vw;
    margin-right: 1vw;
  }
  
  footer .contact>:nth-child(2) {
    margin-bottom: 1vh;
  }
  
  footer .location,
  footer .phone,
  footer .email {
    display: flex;
    align-items: center;
    margin-bottom: 2vh;
  }
  
  footer .location p,
  footer .phone p,
  footer .email p {
    margin: 0;
    font-size: 1.5vw;
  }
  
  footer .p {
    width: 20%;
  }
  
  #logo2 {
    width: 16%;
  }
  
  footer .map {
    color: var(--background);
    font-size: 2vh;
    font-weight: 400;
  }
  