<h1>File a Complaint</h1>
<select (change)="onComplaintTypeChange($event)">
    <option>Select Complaint Type</option>
    <option value="defamation">Defamation</option>
    <option value="financial">Financial</option>
    <option value="social">Social</option>
    <option value="others">Others</option>
</select>
<app-defamation *ngIf="complaintType === 'defamation'"/>
<app-financial *ngIf="complaintType ==='financial'"/>
<app-social *ngIf="complaintType==='social'"/>
<app-others *ngIf="complaintType==='others'"/>
<br>
<br>

<h1>Track Complaint status</h1>
<label for="Complaint_id">Enter Your Complaint Id:</label><br>
<input type="text" id="Complaint_id" >
<button>Track</button>