<pre>
For contacting cyber bureau, or Followup of complaints :

Contact us at Hotline   01-5319044  Use the following Extension list:

100 (General Enquiry)
108 (Online Fraud / Scams related)
109 (inquire whether complaint is registered  |  if not : 114)
111 (मुद्दा शाखा)
112 (Followup Hacked ID / Pages / Fake ID)
114 (Followup on initial complaint if complaint regd. num. not received)
Extensions for official purpose

114 (Administration section)
104 (Spokesperson)

General Inquiry /  Duty Officer :   9851286770 

Field Officer:  9851286771

Email (Office) :   cyberbureau&#64;nepalpolice.gov.np

Spokesperson / Information Officer :               

Contact:      9851286772

Email :       cb_spokesperson&#64;nepalpolice.gov.np

Facebook:          https://facebook.com/cyberbureaunepal

Office Address :- Bhotahity, kathmandu
</pre>
