<div>
  <button (click)="isLogin = true">Login</button>
  <button (click)="isLogin = false">Sign Up</button>
</div>

<h1 id="signSuccessfull" *ngIf="Signedup">Signed up Successfully!!</h1>

<form *ngIf="isLogin" [formGroup]="HandleLogin" (submit)="LoginSubmit()">
    <h1>Login</h1>
  <label for="email">Email</label><br/>
  <input type="text" id="email" formControlName="email" placeholder="Email" required minlength="5"><br/>
  
  <label for="password">Password</label><br/>
  <input type="password" id="password" formControlName="password" placeholder="Password" required minlength="8"><br/>

  <label for="passwordRewrite">Re-enter Password</label><br>
    <input type="password" id="passwordRewrite" formControlName="passwordRewrite" placeholder="Re-enter Password" required minlength="8"><br/>
  
  <button type="submit" class="primary">Login</button>
</form>

<form *ngIf="!isLogin" [formGroup]="HandleSignup" (submit)="SignupSubmit()">
<h1>Sign Up</h1>
  <label for="email">Email</label><br/>
  <input type="text" id="email" formControlName="email" placeholder="Email" required minlength="5"><br/>
  
  <label for="password">Password</label><br/>
  <input type="password" id="password" formControlName="password" placeholder="Password" required minlength="8"><br/>
  
  <button type="submit" class="primary">Sign Up</button>
</form>

